
main {
	text-align: center;
	margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 246, 239);
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

input {
	width: 3em;
	text-align: center;
	border: 2px dotted rgb(180, 180, 180);
	border-radius: 8px;
}

input:focus {
	outline: none;
}

h1, h2, p, a, button, .label {
	font-family: cursive, times, serif;
}

button {
	width: 180px;
	margin: 15px auto 5px auto;
	font-size: 1.4em;
	background-color: rgb(231, 231, 231);
	border-radius: 8px;
}

h2 {
	font-size: 1.3em;
	color:rgb(52, 52, 52);
}

p {
	font-size: 1.1em;
}

img {
	margin-top: 75px;
	width: 250px;
	height: 273px;
}

.grid {
	display: inline-block;
	margin-right: 10px;
}

.grid div {
	text-align: left;
	margin-top: 12px;
}

.green {
	color: rgb(56, 177, 56);
}

.red {
	color: rgb(193, 12, 12);
}

.label {
	font-size: 1.3em;
}